.footer-social-media {
  width: 25rem;

  &-item {
    display: flex;
    align-items: center;
    margin-bottom: 0.4rem;

    &-text {
      display: inline-block;
      margin-left: 0.6rem;
      font-size: 1.3rem;
    }
  }
}
