@import "~/styles/variables";

.address {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

  &:not(:last-child) {
    padding-bottom: 10px;
  }

  &-left {
    padding-right: 20px;

    .name-phone {
      display: flex;

      .name {
        font-size: 15px;
        line-height: 24px;
        font-weight: 600;
      }

      .divider {
        display: block;
        width: 1px;
        height: 24px;
        background-color: rgba(0, 0, 0, 0.26);
        margin: 0 8px;
      }

      .phone {
        font-size: 14px;
        color: rgba(0, 0, 0, 0.54);
        line-height: 24px;
      }
    }

    .ad,
    .street {
      color: rgba(0, 0, 0, 0.54);
      font-size: 14px;
    }
  }

  &-right {
    .select-btn {
      color: $primary-color;
      padding: 4px;
      background-color: transparent;
      white-space: nowrap;
      font-size: 15px;
      cursor: pointer;

      &:hover {
        opacity: 0.7;
      }
    }
  }

  &--active {
    border: 2px solid #2da85c;
    border-radius: 4px;
    background-color: #fafafa;
  }
}
