@import "~/styles/variables";

.form {
  height: 100%;
  width: 80%;

  &_title {
    font-size: 34px;
    font-weight: 600;
    margin-bottom: 20px;
  }

  .login-btn {
    width: 100%;
    padding: 10px 0;
    color: #fff;
    font-size: 18px;
    margin-top: 12px;
    background-color: $primary-color;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }
  }

  .login-btn:disabled,
  .login-btn[disabled] {
    background-color: #42cf715d;
  }

  .forgot_link {
    display: block;
    font-size: 13px;
    font-weight: 600;
    margin: auto;
    margin-bottom: 4px;
    padding: 6px;
    background-color: transparent;
    color: rgba(0, 0, 255, 0.35);
    cursor: pointer;
  }

  .oauth {
    display: flex;
    justify-content: center;

    &-btn {
      display: inline-block;

      + .oauth-btn {
        margin-left: 20px;
      }
    }
  }

  .register {
    margin-bottom: 20px;
    text-align: center;

    &_label {
      display: inline-block;
      font-size: 12px;
    }

    &_link {
      margin-left: 4px;
      font-size: 12px;
      font-weight: 500;
      color: rgba(0, 0, 255, 0.35);
      background-color: transparent;
      cursor: pointer;
    }
  }
}
