/* stylelint-disable value-no-vendor-prefix */
/* stylelint-disable property-no-vendor-prefix */
@import "~/styles/mixins";

.main-information {
  background-color: $background-color;

  &-inner {
    @include container;

    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem 0;
    background-color: #fff;
  }

  &-right {
    flex: 1;
    margin-left: 2rem;
    margin-right: 1rem;

    &-title {
      margin: 0;
      font-size: 2.4rem;
      font-weight: 600;
      word-break: keep-all;
    }

    &-parameter {
      display: flex;
      align-items: center;

      &-star {
        height: 2.4rem;
        font-size: 1.4rem !important;
      }

      &-sold {
        height: 2.4rem;
        margin-left: 1.4rem;
        font-size: 1.3rem;
        font-weight: 600;
        line-height: 2.4rem;
      }
    }

    &-value {
      &-price {
        display: block;
        font-size: 3rem;
        font-weight: 600;
        color: $primary-color;
      }

      &-price-ignore {
        display: inline-block;
        font-size: 1.6rem;
        font-weight: 300;
        color: #9e9e9e;
        text-decoration: line-through;
      }

      &-discount {
        margin-left: 1rem;
        font-size: 1.6rem;
      }
    }

    &-checkout {
      height: 4.4rem;
      margin-top: 1rem;

      &-buy,
      &-cart {
        width: 26rem;
        height: 100%;
        color: #fff;
        text-transform: capitalize;
        cursor: pointer;
      }

      &-buy {
        background-color: $primary-color;
      }

      &-cart {
        margin-left: 2rem;
        background-color: rgb(230, 157, 61);

        &:active {
          transition: transform 0.6 ease-in-out;
          transform: translateY(-4%);
        }
      }
    }

    &-quantity {
      display: flex;

      &-title {
        display: flex;
        align-items: center;
        width: 8rem;

        span {
          color: #757575;
          font-weight: 600;
          line-height: 2.8rem;
          text-transform: capitalize;
        }
      }

      &-control {
        flex: 1;
        height: 3.4;

        &-sub,
        &-add {
          width: 3.4rem;
          height: 3.4rem;
          font-size: 1.8rem;
          border-radius: 0.2rem;
          cursor: pointer;

          &:hover {
            background-color: #757575;
            color: white;
          }
        }

        &-value {
          display: inline-block;
          width: 4rem;
          text-align: center;
        }
      }
    }
  }
}
