@import "~/styles/mixins";

.main_information {
  background-color: $background-color;
  padding: 0 15px;

  &_top {
    padding: 12px 0;
    margin: 0 !important;
    background-color: #fff;
  }

  &-right {
    &-checkout {
      height: 4.4rem;
      margin-top: 1rem;

      &-buy,
      &-cart {
        width: 26rem;
        max-width: 40%;
        font-weight: 700;
        height: 100%;
        color: #fff;
        text-transform: capitalize;
        cursor: pointer;
      }

      &-buy {
        background-color: $primary-color;
      }

      &-cart {
        margin-left: 2rem;
        background-color: rgb(230, 157, 61);

        &:active {
          transition: transform 0.6 ease-in-out;
          transform: translateY(-4%);
        }
      }
    }
  }

  .description {
    &-inner {
      @include container;

      margin-top: 1rem;
      padding: 1rem;
      background-color: #fff;
    }

    &-title {
      padding: 1rem;
      margin: 1rem;
      background-color: $background-color;
      font-size: 2rem;
      font-weight: 600;
    }
  }
}

.cart_modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: none;
  z-index: 9999;

  &_content {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 200px;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;

    &_icon {
      color: #fff;
      background-color: rgb(55, 179, 6);
      font-size: 100px;
      border-radius: 50%;
    }

    &_text {
      color: #fff;
      margin-top: 10px;
    }
  }
}

.show {
  display: block;
}
