@import "~/styles/mixins";

.main-information {
  background-color: $background-color;

  &-inner {
    @include container;

    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem 0;
    background-color: #fff;
  }

  &-right {
    flex: 1;
    margin-left: 2rem;
    margin-right: 1rem;

    &-checkout {
      height: 4.4rem;
      margin-top: 1rem;

      &-buy,
      &-cart {
        width: 26rem;
        height: 100%;
        color: #fff;
        text-transform: capitalize;
        cursor: pointer;
      }

      &-buy {
        background-color: $primary-color;
      }

      &-cart {
        margin-left: 2rem;
        background-color: rgb(230, 157, 61);

        &:active {
          transition: transform 0.6 ease-in-out;
          transform: translateY(-4%);
        }
      }
    }
  }

  .description {
    &-inner {
      @include container;

      margin-top: 1rem;
      padding: 1rem;
      background-color: #fff;
    }

    &-title {
      padding: 1rem;
      margin: 1rem;
      background-color: $background-color;
      font-size: 2rem;
      font-weight: 600;
    }
  }
}
