.rating {
  background-color: #fff;

  &_list {
    padding: 0 20px;
  }

  &_header {
    padding: 20px;
    font-size: 20px;
    font-weight: 700;
  }
}

.rating-filter {
  display: flex;
  padding: 0 2rem 2rem;

  &-top {
    display: flex;
    align-items: center;

    &-text {
      font-size: 13px;
      color: rgb(128, 128, 137);
    }

    &-index {
      margin-right: 10px;
      font-weight: 600;
      font-size: 26px;
    }
  }

  &-bottom {
    width: 250px;

    &-level {
      display: flex;
      align-items: center;

      > div {
        margin: 0;
      }

      &-star {
        font-size: 10px;
        width: 160px;
      }
    }
  }

  &-right {
    margin-left: 20px;
  }
}
