@import "~/styles/mixins";

.stardust-wrapper {
  padding-top: 1.2rem;

  .stardust-wrapper-inner {
    @include container;
  }

  .stardust-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }
}
