@import "~/styles/variables";

.products-list {
  display: grid;
  grid-gap: 0.8rem;
  grid-template-columns: repeat(5, 1fr);
  background-color: $background-color;

  &-item {
    position: relative;
    height: 32.6rem;
    background-color: white;
    box-shadow: 0 0.08rem 0.25rem 0 rgb(0 0 0 / 20%);
    border: 1px solid transparent;
    border-radius: 0.2rem;
    box-sizing: border-box;

    &:hover {
      border: 1px solid $primary-color;
      transform: scale(1.02);
      transition: transform 0.2s ease-in-out;
    }
  }
}
