@import "~/styles/variables";

.auth-wrapper {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  color: $white;

  .auth {
    display: inline-block;
    font-size: 1.4rem;
  }

  .auth-register {
    margin-right: 1rem;
  }

  .auth-login {
    margin-left: 1rem;
  }
}
