@import "~/styles/mixins";

.product-breadcrumb {
  height: 5.2rem;
  background-color: $background-color;

  &-inner {
    @include container;

    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }

  span {
    font-size: 1.4rem;
    font-weight: 500;
    color: #777 !important;
  }
}
