@import "~/styles/mixins";

.breadcrumb {
  padding: 0 15px;
  background-color: $background-color;

  &_inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
  }

  span {
    font-size: 1.4rem;
    font-weight: 500;
    color: #777 !important;
  }
}
