@import "~/styles/mixins";
@import "~/styles/variables";

.footer {
  border-top: 2px solid $background-color;

  &-inner {
    @include container;

    display: flex;
    justify-content: space-between;
  }
}
