@import "~/styles/variables";

.top-right-language-wrapper {
  display: flex;
  align-items: center;
  margin-left: 1.2rem;
  color: $white;
  font-size: 1.4rem;
  cursor: pointer;

  .header-top-item {
    &:hover {
      opacity: 0.8;
    }
  }

  .language-text {
    margin-left: 0.3rem;
  }
}
