$primary: #fe2c55;
$primary-color: #2da85c;
$text-color: #161823;
$background-color: #f5f5f5;

$font-family: "Nunito", sans-serif;

// Default layout
$header-height: 214px;
$header-top-height: 42px;
$header-bottom-height: 172px;
$width: 1200px;
$horizontal-spacer: 24px;
