@import "./variables";

@mixin container {
  max-width: $width;
  margin: 0 auto;
}

@mixin complement-header {
  padding-top: calc($header-height);
}

@mixin topic-header {
  padding: 1.6rem;
  font-size: 1.8rem;
  color: rgba(0, 0, 0, 0.54);
  text-transform: uppercase;
  font-weight: 600;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
