@mixin btn {
  position: absolute;
  top: 50%;
  width: 3rem;
  height: 6rem;
  background-color: rgba(0, 0, 0, 0.4);
  transform: translateY(-50%);
  cursor: pointer;

  &:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }
}

.carousel {
  position: relative;
  height: 23.5rem;
  width: 80rem;

  &-prev-btn {
    @include btn;

    left: 0;
  }

  &-next-btn {
    @include btn;

    right: 0;
  }
}
