@import "~/styles/variables";

.cart_popup {
  width: 300px;
  min-height: 220px;

  &_header {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 10px;

    &_text {
      color: rgba(0, 0, 0, 0.4);
    }

    &_btn {
      color: #fff !important;
      background-color: $primary-color !important;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  &_body {
    a {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 5px;
      padding: 10px 0;
      border-top: 1px solid #e0e0e0;

      .cart-item-image {
        display: flex;
        align-items: center;
      }

      .cart-item-name {
        width: 18rem;
        font-size: 1.4rem;
        font-weight: 700;
        text-align: left;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }

      .cart-item-price {
        width: 8rem;
        font-size: 1.3rem;
        text-align: right;
      }
    }
  }
}
