@import "~/styles/variables";

.auth-wrapper {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  color: #fff;

  .auth {
    display: inline-block;
    font-size: 1.4rem;
  }

  .auth-register {
    margin-right: 1rem;
  }

  .auth-login {
    margin-left: 1rem;
  }
}

.profile-wrapper {
  display: flex;
  height: 3.2rem;
  cursor: pointer;

  .auth-avatar {
    display: inline-block;
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
  }

  .auth-username {
    margin-left: 0.6rem;
    color: #fff;
  }
}

.profile-popup {
  display: flex;
  flex-direction: column;
  width: 150px;
}
