.orders-all {
  display: block;

  &__search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
    padding: 12px;
    margin-bottom: 20px;

    &__icon {
      font-size: 18px;
      color: #5f9ea0;
      cursor: pointer;

      &--active {
        color: #000;
      }
    }

    &__text {
      width: 100%;
      padding: 0 8px;
      font-size: 16px;
      background-color: transparent;
      line-height: 20px;
    }
  }
}
