@import "~/styles/mixins";

.profile-form {
  padding: 120px 24px 50px;

  .submit-button {
    padding: 8px 16px;
    background-color: $primary-color;
    color: white;
    float: right;
    cursor: pointer;
  }
}
