@import "~/styles/mixins";

.profile-form {
  padding: 120px 24px 50px;

  div {
    font-family: inherit;
  }

  .submit-button {
    padding: 8px 16px;
    background-color: $primary-color;
    color: white;
    float: right;
    cursor: pointer;

    &:disabled,
    &[disabled] {
      opacity: 0.8;
      cursor: not-allowed;
    }
  }
}
