.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  background-color: #fff;
  height: 64px;
  z-index: 10;

  &-shadow {
    box-shadow: rgb(18 38 63 / 20%) 1px 1px 10px !important;
  }

  &_vertical {
    width: 1px;
    height: 28px;
    margin: 0 10px;
    background-color: rgba(0, 0, 0, 0.12);
  }

  &_right {
    display: flex;
    align-items: center;

    &_avatar {
      display: inline-block;
      border-radius: 50%;
      overflow: hidden;
    }
  }

  &_language {
    display: inline-block;
    cursor: pointer;

    &_icon {
      font-size: 13px;
    }

    &_selected {
      margin-right: 8px;
      font-weight: 600;
    }
  }
}
