.specifications-list {
  padding: 0 2.6rem;

  &-item {
    height: 3rem;
    line-height: 3rem;

    &-key {
      display: inline-block;
      width: 15rem;
      text-transform: capitalize;
      color: rgba(0, 0, 0, 0.4);
    }

    &-value {
      display: inline-block;
    }
  }
}
