.select-group {
  padding-bottom: 10px;

  &_label {
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
  }

  &_input {
    display: flex;
    align-items: center;
    height: 36px;
    padding: 6px;
    background-color: #0000000c;

    &_icon {
      display: flex;
      font-size: 20px;
      margin-left: 4px;
      color: #888;
    }
  }
}
