.header-user {
  display: flex;
  align-items: center;
  height: 100%;
  cursor: pointer;

  &_image {
    display: inline-block;
    border-radius: 50%;
    background-color: #fff;
  }

  &_name {
    display: inline-block;
    margin-right: 4px;
    color: #fff;
  }
}

.user {
  height: 90%;
  margin-left: 12px;
}

@media (max-width: 576px) {
  .header-user {
    &_name {
      display: none;
    }
  }
}
