@import "~/styles/variables";

.payment {
  background-color: rgba(0, 0, 0, 0.103);
  padding: 12px 0 !important;

  &__container {
    background-color: #fff;
    box-sizing: border-box;
    padding: 20px;
  }

  &__title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 12px;
  }

  &__items {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 16px;
  }

  &__item {
    display: flex;
    align-items: center;
    padding: 6px 0;

    &__title {
      text-align: start;
      width: 160px;
      font-size: 15px;
    }

    &__value {
      text-align: end;
      width: 150px;
      font-size: 14px;
      color: rgba(0, 0, 0, 0.54);
    }

    &__price {
      text-align: end;
      width: 150px;
      font-size: 22px;
      color: $primary-color;
    }
  }

  &__order {
    display: flex;
    align-items: center;

    &__text {
      font-size: 14px;
      margin-right: 20px;
    }

    &__link {
      font-size: 14px;
      color: $primary-color !important;
      text-decoration: underline !important;
    }

    &__bt {
      display: flex;
      justify-content: flex-end;
      margin-right: 20px;
    }

    &__btn {
      display: inline-block;
      padding: 10px 36px;
      background-color: $primary-color;
      height: 45px;
      color: #fff;
      font-size: 16px;
      border-radius: 0;
      border: none;
      cursor: pointer;

      &:hover {
        opacity: 0.7;
      }
    }
  }
}

.momo {
  width: fit-content;
  cursor: pointer;
  display: flex;
  gap: 4px;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  border: 2px solid #fff;
  padding: 10px;

  &--selected {
    border-color: #1677ff;
    border-radius: 4px;
  }
}
